
    #button{
      margin-top: 10px;
      margin-left: 3px;

    }
    #name{
        margin-top: 100px;
        margin-left: 200px;
        height: 30px;
    }
.searchArea{
    background-image: url(src/assets/github.png);
    background-size: 1300px;
    height: 430px;
    width: 1265px;
    background-repeat:  none;
    margin-left: 2px;
    padding-right: 30px;
    
}
.button {
    margin-left: 145px;
    margin-top: -46px;
}